form{
	margin-top:10px;
	padding-top: 10px;
	padding-bottom: -10px;
	float:left;
	width:530px;
	height:200px;
	background-color: lightgray;
	border-radius: 2px;
}

.fld{
  display: inline-block;
  float: left;
  width:400px;
}

.btn{
	width:530px;
}


