body{
	background-color: gray;

}

#persos{
	width:800px;
	margin:auto;

}
legend{
	background-color: lightgray;
	border-radius: 2px;
}
#info_self{
	float:left;
	width:530px;
	height:200px;
	background-color: lightgray;
	border-radius: 2px;
}

#info_other{
	float:left;
	width:200px;
	height:200px;
	overflow-y:auto; 
	background-color: lightblue;
}

.lb1{
    display: inline-block;
    float: left;
    clear: left;
    text-align: right;
    width:60px;
    margin:5px;

}

.lb2{
    display: inline-block;
    float: left;
    width:300px;
    text-align: left;
    margin:5px;

}

#modifButt{
	border-radius: 3px;
	float:right;
	margin-top:50px;
}